body {
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   background-color: #F3F3F3;
}

.main {
   width: 100%;
}

.main .productsBox {
   display: flex;
   flex-wrap: wrap;
   /* justify-content: right; */
   /* margin: 10px 80px;
   padding: 5px; */
   /* margin-left: 4.3rem; */
   gap: .5rem;
   position: relative;
   border-radius: 10px;
   overflow: hidden;
}

.main .headerContainer {
   width: 100%;
   /* height: 100vh; */
   background-color: #F3F3F3;
   margin-bottom: 6.25rem;
   filter: brightness(90%);
   position: relative;
}

.main .headerContainer .headerBannerContainer {
   /* background-color: blue; */
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
   position: relative;
   z-index: 1;
   animation: fadeVisibility 1s;
}

.main .headerContainer .mySlides {
   display: none;
}

.main .headerContainer .headerBannerContainer .titleBanner {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 50%;
   height: 100%;
   text-transform: uppercase;
}

.main .headerContainer .headerBannerContainer .titleBanner .title {
   font-size: 4.25rem;
   font-weight: 800;
   color: rgb(51, 51, 51);
   text-transform: capitalize;
}

.main .headerContainer .headerBannerContainer .titleBanner .subtitle {
   font-size: 0.75rem;
   font-weight: 800;
   letter-spacing: 9px;
   color: rgb(105, 105, 105);
   margin-bottom: 1.5rem;
}

.main .headerContainer .headerBannerContainer .btnBanner {
   background-color: rgb(51, 51, 51);
   border: 0.1rem solid rgb(51, 51, 51);
   color: #fff;
   font-size: 0.75rem;
   font-weight: 700;
   margin-top: 3rem;
   padding: 0.75rem 2rem;
   line-height: 17px;
   letter-spacing: 1px;
   transition: all .4s;
}

.main .headerContainer .headerBannerContainer .btnBanner:hover {
   background-color: transparent;
   color: rgb(51, 51, 51);
   cursor: pointer;
   transition: all .4s;
}

.main .headerContainer .headerBannerContainer .imgBanner {
   width: 50%;
   height: 100%;
   object-fit: cover;
   /* filter: brightness(70%); */
   /* background-color: yellowgreen; */
}

.main .headerContainer .imgBanner img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.main .headerContainer .navbar {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* background-color: yellow; */
   position: absolute;
   top: 0;
   right: 0;
   z-index: 10;
   padding: 0 9rem;
   color: rgb(51, 51, 51);
}

.main .headerContainer .navbar .navMenu {
   display: flex;
   align-items: center;
   gap: 1rem;

   padding: 2.3rem 0;
}

.main .headerContainer .navbar .navMenu .navLogo {
   padding: 1rem 3.75rem 1rem 1rem;
}

.main .headerContainer .navbar .navMenu li a {
   padding: 1rem;
   text-decoration: none;
   color: inherit;
   font-size: 1rem;
   font-weight: 500;
   border-bottom: 1px solid rgba(51, 51, 51, 0);
}

.main .headerContainer .navbar .navMenu li a:hover {
   border-bottom: 1px solid rgb(51, 51, 51);
   transition: all .4s;

}

.main .headerContainer .navbar .navUserCart {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .5rem;
   color: rgb(51, 51, 51);
}

.main .headerContainer .navbar .navUserCart .searchModal {
   padding: 1rem;
   text-decoration: none;
   cursor: pointer;
   color: rgb(51, 51, 51);
}

.main .headerContainer .navbar .navUserCart .cartModal {
   padding: 1rem;
   cursor: pointer;
}

.main .productsSection {
   width: 100%;
   /* background-color: red; */
   display: flex;
   /* align-items: center; */
}

.main .productsSection .bannerProducts {
   text-align: center;
   font-size: 2rem;
   margin-top: 5rem;
   width: 30%;
   height: 100%;
}

.main .productsSection .bannerProducts h1 {
   border-bottom: 4px solid rgb(51, 51, 51);
   margin-bottom: 1.5rem;
   display: inline-block;
   font-weight: 800;
   text-transform: uppercase;
   letter-spacing: 5px;
}

.main .productsSection .bannerProducts .bannerImg {
   position: relative;
   background-color: red;
   width: 100%;
   height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.main .productsSection .bannerProducts .bannerImg img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(85%);
}

.main .productsSection .bannerProducts .bannerImg .btnBannerProducts {
   position: absolute;
   bottom: 8%;
   display: inline-block;
   background-color: #fff;
   color: rgb(51, 51, 51);
   border: 2px solid #fff;
   font-size: .8rem;
   font-weight: 800;
   letter-spacing: .1rem;
   padding: 1rem 1.5rem;
   text-decoration: none;
   text-transform: uppercase;
   transition: all .4s;
}

.main .productsSection .bannerProducts .btnBannerProducts:hover {
   background-color: rgba(255, 255, 255, 0);
   color: #fff;
   border: 2px solid #fff;
   transition: all .4s;
}

.main .productsSection .navTabsProductsContainer {
   width: 70%;
   height: 100%;
}

.main .productsSection .navTabsProductsContainer .navTabsProducts {
   width: 100%;
   /* background-color: yellowgreen; */
   display: flex;
   align-self: start;
   justify-content: center;
   gap: 1.5rem;
   margin-bottom: 3.1rem;

}

.main .productsSection .navTabsProductsContainer .navTabsProducts li {
   font-size: 1.5rem;
   font-weight: 700;
   padding: 1rem;
   border-bottom: 2px solid rgba(51, 51, 51, 0);
   transition: all .4s;
   color: rgb(51, 51, 51);
   opacity: 60%;
}

.main .productsSection .navTabsProductsContainer .navTabsProducts li:hover {
   border-bottom: 2px solid rgb(51, 51, 51);
   transition: all .4s;
   cursor: pointer;
   text-transform: capitalize;
   opacity: 100%;
}

.main .productsSection .navTabsProductsContainer .navTabsProductsWoman {
   margin-left: 5rem;
}

.main .productsSection .navTabsProductsContainer .navTabsProductsMan {
   margin-right: 5rem;
}

.main .banner {
   width: 100%;
   height: 40vh;
   background-image: url(../assets/img/background-02.jpg);
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   filter: brightness(90%);
   margin: 5rem 0;
}

.main .banner1 .banner1Title {
   text-align: center;
}

.main .banner1 .banner1Title h2 {
   background-color: #000;
   color: #fff;
   font-size: 2.5rem;
   display: inline-block;
   padding: 0 1rem;
}

.main .banner1 .banner1Title p {
   letter-spacing: 0.7em;
   font-weight: 800;
   margin: 1.5rem 0 3.5rem 0;
   font-size: 16px;
   line-height: 1.75;
   color: #696969;
}

.main .banner1 .btnBanner1 {
   color: #333;
   font-size: 1.5rem;
   border-bottom: 2px solid rgb(51, 51, 51);
   text-decoration: none;
   font-weight: 700;
   transition: all .4s;
}

.main .banner1 .btnBanner1:hover {
   color: #ff6a28;
   transition: all .4s;
   border-bottom: 2px solid #ff6a28;
}

.main .banner2 {
   background-image: url(../assets/img/background-03.jpg);
   display: flex;
   align-items: center;

}

.main .banner2 .banner2Title {
   background-color: #fff;
   padding: 4rem 2.5rem;
   text-align: center;
}

.main .banner2 .banner2Title h2 {
   letter-spacing: 0.5em;
   font-size: 3.5rem;
   display: inline-block;
   text-transform: uppercase;
   font-weight: 800;
}


.main .banner2 .banner2Title p {
   letter-spacing: 0.7em;
   font-weight: 800;
   font-size: 16px;
   line-height: 1.75;
   color: rgb(51, 51, 51);
   text-transform: uppercase;
   margin-top: 1rem;
}

.main .banner2 .border {
   border: 2px solid rgba(255, 255, 255, 0.616);
   padding: 1rem;
}